Workflow/第4章：集成端点.json
{
  "name": "第4章：集成端点",
  "nodes": [
    {
      "parameters": {
        "path": "202e2a86-6016-41e2-bd7e-db73ded82396",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -256,
        -160
      ],
      "id": "f516454c-f0c8-423e-b747-481700121728",
      "name": "Webhook",
      "webhookId": "202e2a86-6016-41e2-bd7e-db73ded82396"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "timestamp",
              "value": "={{ Date.now() }}"
            },
            {
              "name": "message",
              "value": "={{ typeof $json.body === 'string' ? $json.body : JSON.stringify($json.body) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7b2d1a78-6e33-40c3-8f60-ada4202cd658",
      "name": "Set_Timestamp",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -144,
        304
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "signString",
              "value": "={{ $json.timestamp + '\\n' + 'SECe6d1c3f62d2b090079bffe5f36b54f11ffaa579c387b23ed44480b24c8744811' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "39c71ffe-0804-4504-ae6f-0278b9efc262",
      "name": "Set_SignString",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        48,
        304
      ]
    },
    {
      "parameters": {
        "action": "hmac",
        "type": "sha256",
        "value": "={{ $json.signString }}",
        "dataPropertyName": "sign",
        "secret": "SECe6d1c3f62d2b090079bffe5f36b54f11ffaa579c387b23ed44480b24c8744811",
        "encoding": "base64"
      },
      "id": "b451b25d-0a13-4ad5-9cde-ab400931df9e",
      "name": "Crypto_HMAC",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -240,
        544
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "dingUrl",
              "value": "={{ 'https://oapi.dingtalk.com/robot/send?access_token=8abde4de2a761fc324bf0611e49699611c97a2c49bd65c7ab9d10af4721d248c&timestamp=' + $json.timestamp + '&sign=' + encodeURIComponent($json.sign) }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b7aabc6c-53e2-47ee-9126-f78aadb3e5ad",
      "name": "Set_BuildUrl",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -64,
        544
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.dingUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n     \"msgtype\": \"markdown\",\n     \"markdown\": {\n         \"title\":\"两个人\",\n         \"text\": {{ $json.message}}\n     },\n      \"at\": {\n          \"atMobiles\": [],\n          \"atUserIds\": [],\n          \"isAtAll\": true\n      }\n }",
        "options": {
          "batching": {
            "batch": {}
          },
          "timeout": 5000
        }
      },
      "id": "d2290a10-e211-4b98-a06f-6afdc9a9b324",
      "name": "HTTP_PostDing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        112,
        544
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ding-push-sign",
        "options": {}
      },
      "id": "06652890-c2c7-4423-a9bd-632f980974ac",
      "name": "钉钉Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -352,
        304
      ],
      "webhookId": "1fcfcc58-34bf-43f2-98e5-30560084331d"
    },
    {
      "parameters": {
        "fromEmail": "1755982343@qq.com",
        "toEmail": "={{$node.处理邮件内容.data.to}}",
        "subject": "={{$node.处理邮件内容.data.subject}}",
        "html": "={{$node.处理邮件内容.data.body}}",
        "options": {}
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        224,
        992
      ],
      "id": "4e9059f7-4d76-4dc4-bde6-b18d00df5d19",
      "typeVersion": 2.1,
      "webhookId": "e531af06-727c-4639-8631-942c24cf4b28",
      "credentials": {
        "smtp": {
          "id": "qucPoITrB5Ljuk5f",
          "name": "QQ SMTP account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        992
      ],
      "id": "480ed5d3-f91a-472d-a349-c7ed8ccd668f",
      "name": "发送邮件"
    },
    {
      "parameters": {
        "functionCode": "return [{ to: '1755982343@qq.com', subject: '标题', body: '你好，来自 n8n 的第一封邮件！' }];"
      },
      "name": "处理邮件内容",
      "type": "n8n-nodes-base.function",
      "position": [
        48,
        992
      ],
      "id": "9c9c9e64-795f-42f0-be13-b6749a445053",
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        1216,
        864
      ],
      "id": "67d54fdb-3aa7-4fe4-b9cc-47012e41ea7b",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "H7Sjuis0MU1pWUIm",
          "name": "DeepSeek Account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1424,
        864
      ],
      "id": "6b3355f0-4867-4944-adda-8683885282d7",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://product.dangdang.com/29949448.html\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "153b5491-a873-4c50-b8b3-98fee42afd5f",
      "name": "HTTP Firecrawl scrape",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1056,
        672
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "qntZ6ESrTHIVxiZo",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=根据以下内容获取书籍的书名、作者、ISBN号、出版社、出版时间\n\n{{ $json.data.markdown }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1248,
        672
      ],
      "id": "e597d975-4578-414b-991a-38fefddd1c9f",
      "name": "爬虫Agent"
    },
    {
      "parameters": {},
      "id": "478861bb-04c6-44fb-bb30-07185acecdca",
      "name": "Debug",
      "type": "n8n-nodes-base.noOp",
      "position": [
        880,
        1360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://www.ifanr.com/feed",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "23edb5f2-2e2f-4d6d-9a9e-47f8d5b01f93",
      "name": "RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        672,
        1360
      ]
    },
    {
      "parameters": {
        "url": "https://www.ifanr.com/feed",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "3a7415d8-b8f5-4670-afb9-60972a65c726",
      "name": "RSS_Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        1072,
        1568
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        896,
        1568
      ],
      "id": "c084ddda-bf57-4751-a2f8-5315fe806d3b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "pageId": {
          "__rl": true,
          "value": "https://www.notion.so/n8n-2d57c279a756802aaf35c5318f54a512",
          "mode": "url"
        },
        "title": "={{ $json.title }}",
        "simple": false,
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json[\"content:encodedSnippet\"].substring(0,2000) }}"
            },
            {
              "textContent": "={{ $json.link }}"
            }
          ]
        },
        "options": {}
      },
      "id": "34f4bcdb-56f9-4828-8ee5-28f636fcf5c2",
      "name": "Notion_Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        1248,
        1568
      ],
      "credentials": {
        "notionApi": {
          "id": "8iX2SPVg6yYWLr5s",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1344,
        1776
      ],
      "id": "a51ee7d2-2071-413c-8466-e04ac33204c9",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "rzGdCGdtI2GGyF6j",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2064,
        1632
      ],
      "id": "c8a114cc-193c-4a40-918c-cd55f2a0cfae",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "rzGdCGdtI2GGyF6j",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1552,
        1776
      ],
      "id": "f11b819d-158a-4190-8289-d01a79574ab1",
      "name": "Insert rows in a table1",
      "credentials": {
        "mySql": {
          "id": "gmKK7A60RTMm8lFJ",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM sys_dept WHERE del_flag = 0 ORDER BY dept_id ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        2032,
        704
      ],
      "id": "b257c8ce-0d7e-4548-b146-66cb7de1ce39",
      "name": "Execute a SQL query1",
      "credentials": {
        "mySql": {
          "id": "gmKK7A60RTMm8lFJ",
          "name": "MySQL account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Set_Timestamp": {
      "main": [
        [
          {
            "node": "Set_SignString",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_SignString": {
      "main": [
        [
          {
            "node": "Crypto_HMAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto_HMAC": {
      "main": [
        [
          {
            "node": "Set_BuildUrl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_BuildUrl": {
      "main": [
        [
          {
            "node": "HTTP_PostDing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "钉钉Webhook": {
      "main": [
        [
          {
            "node": "Set_Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "发送邮件": {
      "main": [
        [
          {
            "node": "处理邮件内容",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "处理邮件内容": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "爬虫Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "爬虫Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Firecrawl scrape": {
      "main": [
        [
          {
            "node": "爬虫Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS": {
      "main": [
        [
          {
            "node": "Debug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS_Read": {
      "main": [
        [
          {
            "node": "Notion_Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS_Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion_Page": {
      "main": [
        []
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Insert rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "Fz0XyDjLdwF0IpTZ"
  },
  "versionId": "41f3495b-bd2d-44fc-8681-d2330c1c6b57",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ad624615a4bcfedc466fba1d1260fd096b82d5bb3eb66cfb21a92b75a94700f6"
  },
  "id": "YBlkI4TFedxW7DxB",
  "tags": []
}