Workflow/第5章：Agent.json
{
  "name": "第5章：Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}\n\n如果用户想要获取某个城市的天气信息，那么把城市名称提取出来放到AI中进行传递，以便天气工具能够识别这个城市。\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        640,
        -80
      ],
      "id": "ac0486a0-3710-49f1-a4ab-b4bbcda99367",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "你好，我是你的智能聊天小助手！",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        384,
        -80
      ],
      "id": "76c5b1fe-6d27-42e1-b244-053e8d161c0e",
      "name": "When chat message received",
      "webhookId": "cbb3f222-30f5-40ba-a301-e1d7f3753580"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        496,
        176
      ],
      "id": "a2b73af5-1798-40df-97c3-328d201bb5ed",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "H7Sjuis0MU1pWUIm",
          "name": "DeepSeek Account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        624,
        160
      ],
      "id": "03033ffd-ed52-47b4-bce4-ef113fbe4705",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "获取当前系统时间戳。",
        "jsCode": "return Date.now();"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        784,
        192
      ],
      "id": "1ee460d3-efd1-449c-ace0-e119c8950a28",
      "name": "Code Tool"
    },
    {
      "parameters": {
        "toolDescription": "查询城市当前天气，输入城市名，返回天气描述。",
        "url": "http://api.weatherapi.com/v1/current.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $fromAI('city', '城市名称') }}"
            },
            {
              "name": "key",
              "value": "a0054c6145144d5f91e121516252901"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1008,
        112
      ],
      "id": "3302d80e-03e6-4278-a39c-02e2e05bd5b6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n        \"name\": \"上海\",\n        \"region\": \"Shanghai\",\n        \"country\": \"中国\",\n        \"localtime_epoch\": 1766282724,\n        \"localtime\": \"2025-12-21 10:05\",\n        \"temp_c\": 8.4,\n        \"temp_f\": 47.1\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1200,
        48
      ],
      "id": "4acdc930-b7c7-4a06-9667-3a1cc90b826b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2416,
        144
      ],
      "id": "e55006c3-7b32-425a-b3c6-347091f25fe7",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        2384,
        336
      ],
      "id": "304e57d5-cb4f-42c0-a852-60aa401938d0",
      "name": "DeepSeek Chat Model1",
      "credentials": {
        "deepSeekApi": {
          "id": "H7Sjuis0MU1pWUIm",
          "name": "DeepSeek Account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2608,
        320
      ],
      "id": "d22d16b9-574d-489f-939c-79f7ef43ea86",
      "name": "城市列表解析器"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1744,
        -96
      ],
      "id": "a074dd37-388e-49b5-a397-d96ae038515a",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        1664,
        128
      ],
      "id": "70fd047c-542d-462f-bf1c-2c432b9182f7",
      "name": "DeepSeek Chat Model2",
      "credentials": {
        "deepSeekApi": {
          "id": "H7Sjuis0MU1pWUIm",
          "name": "DeepSeek Account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1808,
        144
      ],
      "id": "ee85621a-793d-4955-860b-116e23fd139a",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.amap.com/sse?key=fec8c1af698b76b76c23a66c87176dfd",
        "serverTransport": "sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        1968,
        112
      ],
      "id": "7f98795b-3012-4d2b-b8a7-5f80e3aaf55a",
      "name": "高德MCP"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "城市列表解析器": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Weather": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "高德MCP": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1ee3179e-156f-4da6-965f-241e6fb265ec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ad624615a4bcfedc466fba1d1260fd096b82d5bb3eb66cfb21a92b75a94700f6"
  },
  "id": "HTpcQ95s2Igj09iR",
  "tags": []
}